.inputGroup {
  width: 100%;
  position: relative;
  margin-bottom: 16px;

  .input {
    padding-left: 21px;
    height: 64px;
    width: 100%;
    outline: none;
    border-radius: 40px;
    border: none;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    box-sizing: border-box;

  }

  .button {
    position: absolute;
    right: 0;
    z-index: 2;
    border: none;
    top: 0;
    margin: 8px;

    background-color: #F2726C;
    color: white;
    width: auto;
    padding: 15px 32px;
  }
}

