@import "src/styles/variables";


@mixin underInput {
  position: relative;
  word-break: break-all;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  margin-top: 4px;
  left: 16px;
}

.inputGroup {
  width: 100%;
  position: relative;
  margin-bottom: 16px;

  .input {
    padding-left: 21px;
    height: 64px;
    width: 100%;
    outline: none;
    border-radius: 40px;
    border: none;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    box-sizing: border-box;
    &.error {
      border: 1px solid $errorColor;
    }

  }

  .button {
    position: absolute;
    right: 0;
    z-index: 2;
    border: none;
    top: 0;
    margin: 8px;

    background-color: $buttonColor;
    color: white;
    width: auto;
    padding: 15px 32px;
  }
  .parError {
    @include underInput;
    color: $errorColor;
  }
}

