@import "src/styles/variables";
.teamContainer {
  background: url("/horizontal.png") no-repeat center;
  width: 100%;
  height: 600px;
  margin-top: 192px;
  margin-bottom: 124px;

  .teamGreeting {
    margin: 0 auto 60px auto;
    width: 352px;
    text-align: center;

    h1 {
      margin-bottom: 16px;
      color: $bigTitleColor;
    }

    p {
      color: $paragraphColor;
      opacity: 0.9;
    }
  }

  .teamImages {
    display: flex;
    justify-content: space-around;
    max-width: 1120px;
    margin: 0 auto;

    .img1 .img2 .img3 {
      width: 100%;
      object-fit: contain;

    }

    .img2 {
      margin-top: 70px;
    }

  }
  @media only screen and (max-width: 1050px) {
    background: url("/vertical.png") no-repeat center;
    height: 1200px;

  }
  @media only screen and (max-width: 576px) {
    width: 370px;
    margin: 160px auto 0 auto;
    background-size: contain;


  }

}
