.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 48px;
  outline: none;
  border: none;
  border-radius: 40px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 700;
}