body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    //overflow-x: hidden;

    h1, p {
        padding: 0;
        margin: 0;
    }
}
body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}

body::-webkit-scrollbar
{
    width: 10px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb
{
    background-color: #F2726C;
    border: 2px solid #F2726C;
}

.rec-dot_active {
    background-color: black !important;
    box-shadow: 0 0 1px 1px black !important;
}
.rec-dot:focus,
.rec-dot:hover {
    box-shadow: 0 0 1px 1px black !important;
}
.rec-dot_active:focus,
.rec-dot_active:hover {
    background-color: black !important;
    box-shadow: 0 0 1px 1px black !important;
}

.rec-arrow {

    background-color: transparent !important;
    transition: all 0.3s ease;
    font-size: 1.1rem !important;
    color: black !important;
    width: 1.7rem !important;
    height: 1.7rem !important;
    min-width: 1.7rem !important;
    line-height: 1.7rem !important;
    margin: 0 15px;
}
