.greetingContainer {
  background-color: #F7F3F4;
  width: 100%;
  height: auto;

  .greetingContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;

    .images {
      display: flex;
      flex-direction: column;
      padding: 0;

      .textImg {
        width: 542px;
        height: 292px;
        margin-bottom: 59px;
      }

      .underImgContent {
        width: 448px;

        p {
          margin-bottom: 48px;
          font-size: 16px;
          line-height: 32px;

        }
      }
    }
  }
}

@media only screen and (max-width: 1170px) {
  .greetingContainer {

    .greetingContent {
      gap: 40px;

      .images {
        .textImg {
          margin: 0 auto;
        }

        .underImgContent {
          margin: 0 auto;

          p {
            text-align: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1070px) {
  .greetingContainer {
    .greetingContent {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .images {
        margin-top: 70px;

        .underImgContent {
          p {
            text-align: center;
          }
        }
      }
    }
  }
}

//
@media only screen and (max-width: 385px) {
  .greetingContainer {
    .greetingContent {
      gap: 40px;

      .images {
        .textImg {
          width: 336px;
          margin: 0 auto;
        }

        .underImgContent {
          width: 339px;
          margin: 0 auto;

          p {
            text-align: center;
          }
        }
      }
    }
  }
}
