@import "src/styles/variables";

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;

  .headerContent {
    display: flex;
    justify-content: space-around;
    padding: 40px 80px;
    align-items: center;

    .headerLinks {
      display: flex;
      gap: 102px;

      a {
        text-decoration: none;
        color: black;
        &:hover{
          text-decoration: underline;
        }
      }

    }

    .headerButton {
      width: 145px;
    }

    .icon {
      display: none;
    }
  }

  .divider {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    background-color: $bigTitleColor;
  }

  .BurgerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all ease-in-out 1s;

    .BurgerContainerOpen {
      height: 600px;
    }

    .BurgerLink {
      height: 0;
      display: flex;
      gap: 56px;
      flex-direction: column;
      align-items: center;
      color: #333333;
      font-size: 28px;
      line-height: 42px;
      margin-top: 72px;

      a {
        text-decoration: none;
        color: black;
        &:hover{
          text-decoration: underline;
        }
      }
    }


  }
}


@media only screen and (max-width: 1000px) {
  .headerContainer {
    .headerContent {
      justify-content: space-between;
      padding: 43px 18px;

      .headerLinks {
        display: none;
      }

      .headerButton {
        display: none;
      }

      .icon {
        display: block;
      }
    }

  }
  .BurgerContainer {
    display: none;
  }
}

@media only screen and (max-width: 385px) {
  .headerContainer {
    .headerContent {
      padding: 43px 18px;

      .headerLinks {
        display: none;
      }

      .headerButton {
        display: none;
      }
    }
  }
}