.footerContainer {
  box-sizing: border-box;
  background-color: #F7F3F4;
  color: #333333;
  width: 100%;
  padding: 96px 183px 88px 160px;
  display: grid;
  //grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
            "a b c";

  text-align: center;


  .footerContacts {
    .footerTitle {
      font-size: 34px;
      text-transform: uppercase;
      line-height: 48px;
      font-weight: 700;
      margin-bottom: 32px;


    }
    p {
      opacity: 0.75;
      width: 180px;
      text-align: start;
      margin: 0 auto;
    }
  }

  .footerHeadquarters {
    .footerSubTitle {
      font-size: 20px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0.3px;
      margin-bottom: 37px;

    }

    p {
      opacity: 0.75;
    }
  }

  @media only screen and (max-width: 945px) {
    padding: 40px 20px;
    align-items: baseline;
  }
  @media only screen and (max-width: 618px) {
    grid-template-areas:
            "a a"
            "b c";
    grid-gap: 10px;
    text-align: start;
    .footerContacts {
      width: 400px;
    }

  }

}






