.postContainer {
  width: 536px;

  .postContainerTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 35px 0;

    h1 {
      margin: 0;
      padding: 0;
      font-size: 24px;
      line-height: 34px;
      font-weight: 600;
    }


  }

  .postDescription {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #1E1A20;
    transition: all ease-out .7s;
    //transition-delay: 1s;
    height: 0;
    overflow: hidden;


  }
  .postDescriptionOpen{
    height: 100px;
  }
}